@model Post
<h3>
    Dodaj post
</h3>
<div>
    <form asp-controller="Post" asp-action="Create" method="post">
        <div class="mb-4">
            <label class="mb-2" asp-for="Author"></label>
            <input class="form-control" asp-for="Author" />
            <span class="text-danger" asp-validation-for="Author"></span>
        </div>

        <div class="mb-4">
            <label class="mb-2" asp-for="Content"></label>
            <textarea class="form-control" asp-for="Content"></textarea>
            <span class="text-danger" asp-validation-for="Content"></span>
        </div>

        <div class="mb-3">
            <label class="mb-2" asp-for="TagId">Tag</label>
            <select class="form-control" asp-for="TagId"></select>
        </div>

        <div class="mt-4 mb-2">
            <button type="submit" class="btn btn-primary">Opublikuj post</button>
            <a class="btn btn-secondary" asp-action="Index">Powrót</a>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const select = document.getElementById("TagId");
            fetch(`/api/tags`)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    }
                    throw "no ok, status " + response.status;
                })
                .then(json => {
                    select.innerHTML = '';
                    for (let item of json) {
                        let option = document.createElement('option');
                        option.setAttribute('value', item.id);
                        option.innerText = item.tagName;
                        select.appendChild(option);
                    }
                })
                .catch(e => {
                    console.log('cant get data from api', e);
                });
        })
    </script>
}