@model Post
<h3 class="ms-4">
    Edytuj post
</h3>
<div style="padding: 20px; background-color: rgb(51, 51, 51);
               border-radius: 10px; box-shadow: 0 0 10px rgb(51, 51, 51);
               color: white;"
     class="m-4">
    <form asp-controller="Post" asp-action="Update" method="post">
        <input asp-for="Id" />
        <div class="mb-4">
            <label class="mb-2" asp-for="Author"></label>
            <input class="form-control" asp-for="Author" />
            <span class="text-danger" asp-validation-for="Author"></span>
        </div>

        <div class="mb-4">
            <label class="mb-2" asp-for="Content"></label>
            <textarea class="form-control" asp-for="Content"></textarea>
            <span class="text-danger" asp-validation-for="Content"></span>
        </div>

        <div class="mb-3">
            <label class="mb-2" asp-for="TagId">Tag</label>
            <select class="form-control" asp-for="TagId"></select>
        </div>

        <div class="mt-4 mb-2">
            <button type="submit" class=" btn btn-primary">Edytuj post</button>
            <a class="btn btn-secondary" asp-action="PagedIndex">Powrót</a>
        </div>
    </form>
</div>



@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const select = document.getElementById("TagId");
            fetch(`/api/tags`)
            .then(response => {
                if (response.ok) {
                    return response.json()
                }
                throw "no ok, status " + response.status;
            })
            .then(json => {
                select.innerHTML = '';
                for (let item of json) {
                    let option = document.createElement('option');
                    option.setAttribute('value', item.id);
                    option.innerText = item.tagName;
                    if (item.id == @Model.TagId)
                        option.selected = true;
                    select.appendChild(option);
                }
            })
            .catch(e => {
                console.log('cant get data from api', e);
            });
        })
    </script>
}